<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kj.pos.dao.mysql.stock.InventoryDao">
	<resultMap id="ResultMap" type="Inventory">
		<result property="id" column="id"/>
		<result property="createDate" column="create_date"/>
		<result property="modifyDate" column="modify_date"/>
		<result property="warehouseCode" column="warehouse_code"/>
        <result property="warehouseName" column="warehouse_name"/>
		<result property="productCode" column="product_code"/>
        <result property="productName" column="product_name"/>
        <result property="skuId" column="sku_id"/>
		<result property="skuCode" column="sku_code"/>
        <result property="skuName" column="sku_name"/>
		<result property="qty" column="qty"/>
		<result property="del" column="del"/>
	</resultMap>

	<select id="getList" resultMap="ResultMap" parameterType="Inventory" >
        select
            iv.id,
            iv.create_date,
            iv.modify_date,
            iv.warehouse_code,
            wh.name as warehouse_name,
            iv.product_code,
            p.name as product_name,
            iv.sku_id,
            iv.sku_code,
            ps.name as sku_name,
            sum(iv.qty) as qty,
            iv.del
        from inventory iv
        LEFT JOIN warehouse wh on iv.warehouse_code = wh.code
        LEFT JOIN product_sku ps on ps.id = iv.sku_id
        LEFT JOIN product p on ps.pid = p.id
        where 1=1
        <if test="id!=null">
            and iv.id=#{id}
        </if>
        <if test="skuId != null">
            and iv.sku_id = #{skuId}
        </if>
        <if test="warehouseCode!=null">
            and iv.warehouse_code=#{warehouseCode}
        </if>
        <if test="productCode!=null and productCode != ''">
            and iv.product_code=#{productCode}
        </if>
        <if test="skuCode!=null and skuCode != ''">
            and iv.sku_code=#{skuCode}
        </if>
        <if test="del!=null">
            and iv.del=#{del}
        </if>
        group by iv.warehouse_code,iv.sku_id
        <if test="pageUtil != null">
            limit #{pageUtil.startRow},#{pageUtil.endRow}
        </if>
	</select>

    <select id="getTotal" resultType="java.lang.Integer" parameterType="Inventory" >
        select
            count(*)
        from inventory
        where 1=1
        <if test="id!=null">
            and id=#{id}
        </if>
        <if test="skuId != null">
            and sku_id = #{skuId}
        </if>
        <if test="warehouseCode!=null">
            and warehouse_code=#{warehouseCode}
        </if>
        <if test="productCode!=null and productCode != ''">
            and product_code=#{productCode}
        </if>
        <if test="skuCode!=null and skuCode != ''">
            and sku_code=#{skuCode}
        </if>
        <if test="del!=null">
            and del=#{del}
        </if>
    </select>

	<insert id="create" parameterType="Inventory">
		insert into inventory(
		    sku_id,
			create_date,
			modify_date,
			warehouse_code,
			product_code,
			sku_code,
			qty,
			del
		) values (
		    #{skuId},
			now(),
			#{modifyDate},
			#{warehouseCode},
			(SELECT product_code from product p LEFT JOIN product_sku ps on ps.pid = p.id WHERE ps.id = #{skuId}),
			(SELECT code from product_sku WHERE id = #{skuId}),
			#{qty},
			0
		)
	</insert>

	<update id="update" parameterType="Inventory">
		update inventory
		<set>
            <if test="modifyDate!=null">
                modify_date=now(),
            </if>
            <if test="qty!=null">
                qty=IFNULL(qty,0) + #{qty}
            </if>
		</set>
        where id = #{id}

	</update>
</mapper>
