<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kj.pos.dao.mysql.stock.PurchaseOrderMainDao">
	<resultMap id="ResultMap" type="PurchaseOrderMain">
		<result property="id" column="id"/>
		<result property="billNo" column="bill_no"/>
		<result property="billDate" column="bill_date"/>
		<result property="purchaseTypeCode" column="purchase_type_code"/>
        <result property="purchaseTypeName" column="purchase_type_name"/>
		<result property="orgCode" column="org_code"/>
        <result property="orgName" column="org_name"/>
		<result property="warehouseCode" column="warehouse_code"/>
        <result property="warehouseName" column="warehouse_name"/>
		<result property="supplierInfoCode" column="supplier_info_code"/>
        <result property="supplierInfoName" column="supplier_info_name"/>
		<result property="status" column="status"/>
		<result property="createUser" column="create_user"/>
		<result property="createDate" column="create_date"/>
		<result property="modifyUser" column="modify_user"/>
		<result property="modifyDate" column="modify_date"/>
		<result property="auditUser" column="audit_user"/>
		<result property="auditDate" column="audit_date"/>
		<result property="cancelUser" column="cancel_user"/>
		<result property="cancelDate" column="cancel_date"/>
		<result property="note" column="note"/>
	</resultMap>

	<select id="getList" resultMap="ResultMap" parameterType="PurchaseOrderMain" >
        select
            pom.id,
            pom.bill_no,
            pom.bill_date,
            pom.purchase_type_code,
            pt.name as purchase_type_name,
            pom.org_code,
            oi.name as org_name,
            pom.warehouse_code,
            wh.name as warehouse_name,
            pom.supplier_info_code,
            si.name as supplier_info_name,
            pom.status,
            pom.create_user,
            pom.create_date,
            pom.modify_user,
            pom.modify_date,
            pom.audit_user,
            pom.audit_date,
            pom.cancel_user,
            pom.cancel_date,
            pom.note
        from purchase_order_main pom
        LEFT JOIN purchase_type pt on pt.code = pom.purchase_type_code
        LEFT JOIN organization_info oi on oi.code = pom.org_code
        LEFT JOIN warehouse wh on wh.code = pom.warehouse_code
        LEFT JOIN supplier_info si on si.code = pom.supplier_info_code
        where 1=1
        <if test="id!=null">
				and pom.id=#{id}
		</if>
		<if test="billNo!=null and billNo != ''">
				and pom.bill_no=#{billNo}
		</if>
		<if test="billDate!=null and billDate != ''">
				and pom.bill_date=#{billDate}
		</if>
		<if test="purchaseTypeCode!=null and purchaseTypeCode != ''">
				and pom.purchase_type_code=#{purchaseTypeCode}
		</if>
		<if test="orgCode!=null and orgCode != ''">
				and pom.org_code=#{orgCode}
		</if>
		<if test="warehouseCode!=null and warehouseCode != ''">
				and pom.warehouse_code=#{warehouseCode}
		</if>
		<if test="supplierInfoCode!=null and supplierInfoCode != ''">
				and pom.supplier_info_code=#{supplierInfoCode}
		</if>
		<if test="status!=null">
				and pom.status=#{status}
		</if>
        <if test="pageUtil != null">
            limit #{pageUtil.startRow},#{pageUtil.endRow}
        </if>
	</select>

    <select id="getTotal" resultType="java.lang.Integer">
        select
            count(*)
        from purchase_order_main pom
        LEFT JOIN purchase_type pt on pt.code = pom.purchase_type_code
        LEFT JOIN organization_info oi on oi.code = pom.org_code
        LEFT JOIN warehouse wh on wh.code = pom.warehouse_code
        LEFT JOIN supplier_info si on si.code = pom.supplier_info_code
        where 1=1
        <if test="id!=null">
            and pom.id=#{id}
        </if>
        <if test="billNo!=null and billNo != ''">
            and pom.bill_no=#{billNo}
        </if>
        <if test="billDate!=null and billDate != ''">
            and pom.bill_date=#{billDate}
        </if>
        <if test="purchaseTypeCode!=null and purchaseTypeCode != ''">
            and pom.purchase_type_code=#{purchaseTypeCode}
        </if>
        <if test="orgCode!=null and orgCode != ''">
            and pom.org_code=#{orgCode}
        </if>
        <if test="warehouseCode!=null and warehouseCode != ''">
            and pom.warehouse_code=#{warehouseCode}
        </if>
        <if test="supplierInfoCode!=null and supplierInfoCode != ''">
            and pom.supplier_info_code=#{supplierInfoCode}
        </if>
        <if test="status!=null">
            and pom.status=#{status}
        </if>
    </select>

    <insert id="create" parameterType="PurchaseOrderMain" keyProperty="id" useGeneratedKeys="true">
		insert into purchase_order_main(
			bill_no,
			bill_date,
			purchase_type_code,
			org_code,
			warehouse_code,
			supplier_info_code,
			status,
			create_user,
			create_date,
			modify_user,
			modify_date,
			note
		) values (
			generate_number('CGDD'),
			#{billDate},
			#{purchaseTypeCode},
			#{orgCode},
			#{warehouseCode},
			#{supplierInfoCode},
			#{status},
			#{createUser},
			now(),
			#{modifyUser},
			now(),
			#{note}
		)
	</insert>

	<update id="update" parameterType="PurchaseOrderMain">
		update purchase_order_main
        <set>
            <if test="purchaseTypeCode!=null">
                purchase_type_code=#{purchaseTypeCode},
            </if>
            <if test="orgCode!=null">
                org_code=#{orgCode},
            </if>
            <if test="warehouseCode!=null">
                warehouse_code=#{warehouseCode},
            </if>
            <if test="supplierInfoCode!=null">
                supplier_info_code=#{supplierInfoCode},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="modifyUser!=null">
                modify_user=#{modifyUser},
            </if>
            <if test="modifyDate!=null">
                modify_date=now(),
            </if>
            <if test="auditUser!=null">
                audit_user=#{auditUser},
            </if>
            <if test="auditDate!=null">
                audit_date=#{auditDate},
            </if>
            <if test="cancelUser!=null">
                cancel_user=#{cancelUser},
            </if>
            <if test="cancelDate!=null">
                cancel_date=#{cancelDate},
            </if>
            <if test="note!=null">
                note=#{note}
            </if>
        </set>

	</update>
</mapper>
