<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kj.pos.dao.mysql.admin.MenuDao">
	<resultMap id="ResultMap" type="Menu">
		<result property="id" column="id"/>
		<result property="createDate" column="create_date"/>
		<result property="modifyDate" column="modify_date"/>
        <result property="icon" column="icon"/>
		<result property="code" column="code"/>
		<result property="name" column="name"/>
		<result property="pid" column="pid"/>
		<result property="url" column="url"/>
		<result property="del" column="del"/>
		<result property="note" column="note"/>
		<result property="no" column="no"/>
		<result property="levels" column="levels"/>
	</resultMap>

	<select id="getList" resultMap="ResultMap" parameterType="Menu" >
		select 
			id,
			create_date,
			modify_date,
			code,
			name,
			pid,
			url,
			del,
			note,
			no,
			levels
		from menu
		where 1=1 
		<if test="id!=null">
				and id=#{id}
		</if>
		<if test="code!=null">
				and code=#{code}
		</if>
		<if test="name!=null">
				and name=#{name}
		</if>
		<if test="pid!=null">
				and pid=#{pid}
		</if>
	</select>

    <select id="getListByPid" resultMap="ResultMap">
        select
            id,
            create_date,
            modify_date,
            icon,
            code,
            name,
            pid,
            url,
            del,
            note,
            no,
            levels
        from menu
        where 1=1
        <if test="pid!=null">
            and pid=#{pid}
        </if>
    </select>

    <select id="getMaxNo" resultType="java.lang.Long">
        select max(no) + 1 from menu
    </select>

    <insert id="create" parameterType="Menu">
		insert into menu(
			create_date,
			code,
			name,
			pid,
			url,
			del,
			no
		) values (
			now(),
			#{code},
			#{name},
			#{pid},
			#{url},
			0,
			#{no}
		)
	</insert>

	<update id="update" parameterType="Menu">
		update menu set 
		<if test="id!=null">
			id=#{id},
		</if>
		<if test="createDate!=null">
			create_date=#{createDate},
		</if>
		<if test="modifyDate!=null">
			modify_date=#{modifyDate},
		</if>
		<if test="code!=null">
			code=#{code},
		</if>
		<if test="name!=null">
			name=#{name},
		</if>
		<if test="pid!=null">
			pid=#{pid},
		</if>
		<if test="url!=null">
			url=#{url},
		</if>
		<if test="del!=null">
			del=#{del},
		</if>
		<if test="note!=null">
			note=#{note},
		</if>
		<if test="no!=null">
			no=#{no},
		</if>
		<if test="levels!=null">
			levels=#{levels}
		</if>
	</update>
</mapper>
