<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kj.pos.dao.mysql.admin.UserInfoDao">
	<resultMap id="ResultMap" type="UserInfo">
		<result property="id" column="id"/>
		<result property="createDate" column="create_date"/>
		<result property="modifyDate" column="modify_date"/>
		<result property="code" column="code"/>
		<result property="name" column="name"/>
        <result property="orgCode" column="org_code"/>
        <result property="orgName" column="org_name"/>
		<result property="status" column="status"/>
		<result property="password" column="password"/>
		<result property="phone" column="phone"/>
		<result property="mobile" column="mobile"/>
		<result property="email" column="email"/>
		<result property="note" column="note"/>
	</resultMap>

	<select id="getList" resultMap="ResultMap" parameterType="UserInfo" >
        select
            ui.id,
            ui.create_date,
            ui.modify_date,
            ui.code,
            ui.name,
            ui.org_code,
            oi.name org_name,
            ui.status,
            ui.password,
            ui.phone,
            ui.mobile,
            ui.email,
            ui.note
        from user_info ui
        left join organization_info oi on oi.code = ui.org_code
		where 1=1 
		<if test="id!=null">
				and ui.id=#{id}
		</if>
		<if test="code!=null">
				and ui.code=#{code}
		</if>
		<if test="name!=null">
				and ui.name=#{name}
		</if>
		<if test="phone!=null">
				and ui.phone=#{phone}
		</if>
		<if test="mobile!=null">
				and ui.mobile=#{mobile}
		</if>
	</select>

    <select id="getTotal" resultType="java.lang.Integer">
        select
            count(*)
        from user_info ui
        left join organization_info oi on oi.code = ui.org_code
        where 1=1
        <if test="id!=null">
            and ui.id=#{id}
        </if>
        <if test="code!=null">
            and ui.code=#{code}
        </if>
        <if test="name!=null">
            and ui.name=#{name}
        </if>
        <if test="phone!=null">
            and ui.phone=#{phone}
        </if>
        <if test="mobile!=null">
            and ui.mobile=#{mobile}
        </if>
    </select>

    <select id="getCountByCodyAndId" resultType="java.lang.Integer">
        select count(*) from user_info where code = #{code} and id &lt;&gt; #{id}
    </select>

    <insert id="create" parameterType="UserInfo">
		insert into user_info(
			create_date,
			modify_date,
			code,
			name,
			org_code,
			status,
			password,
			phone,
			mobile,
			email,
			note
		) values (
			now(),
			now(),
			#{code},
			#{name},
			#{orgCode},
			1,
			#{password},
			#{phone},
			#{mobile},
			#{email},
			#{note}
		)
	</insert>

	<update id="update" parameterType="UserInfo">
		update user_info
		<set>
            modify_date = now(),
            <if test="code!=null and code !=''">
                code=#{code},
            </if>
            <if test="name!=null and name !=''">
                name=#{name},
            </if>
            <if test="orgCode!=null and orgCode != ''">
                org_code = #{orgCode},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="password!=null and password != ''">
                password=#{password},
            </if>
            <if test="phone!=null and phone !=''">
                phone=#{phone},
            </if>
            <if test="mobile!=null and mobile !=''">
                mobile=#{mobile},
            </if>
            <if test="email!=null and email !=''">
                email=#{email},
            </if>
            <if test="note!=null and note !=''">
                note=#{note}
            </if>
		</set>
		where id = #{id}
	</update>
    <update id="status">
        update user_info set status = #{status} where id = #{id}
    </update>
</mapper>
